@font-face {
  font-family: '온글잎 언즈체';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2406-1@1.0/Ownglyph_UNZ-Rg.woff2')
    format('woff2');
}
@font-face {
  font-family: 'Rix이누아리두리네';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2')
    format('woff2');
}
@font-face {
  font-family: '창원단감아삭체';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/CWDangamAsac-Bold.woff')
    format('woff');
}
@font-face {
  font-family: '카페24 모야모야';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/Cafe24Moyamoya-Regular-v1.0.woff2')
    format('woff2');
}
@font-face {
  font-family: 'HS산토끼체';
  src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HS-Regular.woff')
    format('woff');
}
@font-face {
  font-family: '제주돌담체';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2')
    format('woff2');
}
@font-face {
  font-family: '망고보드 또박체';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/MangoDdobak-B.woff2')
    format('woff2');
}

@font-face {
  font-family: '둥근모꼴+ Fixedsys';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff')
    format('woff');
}

@font-face {
  font-family: '서울한강체';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulHangangM.woff')
    format('woff');
}

@font-face {
  font-family: '을유1945';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/Eulyoo1945-Regular.woff')
    format('woff');
  font-weight: 400;
}
@font-face {
  font-family: '을유1945';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/Eulyoo1945-Regular.woff')
    format('woff');
  font-weight: 600;
}

@font-face {
  font-family: '리디바탕';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff')
    format('woff');
}

@font-face {
  font-family: '마포꽃섬';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff')
    format('woff');
}

@font-face {
  font-family: '세종학당';
  src: url('https://cdn.jsdelivr.net/gh/fontbee/font@main/Ksif/KingSejongInstitute-Regular.woff2')
    format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: '세종학당';
  src: url('https://cdn.jsdelivr.net/gh/fontbee/font@main/Ksif/KingSejongInstitute-Bold.woff2')
    format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: '프리텐다드';
  src: url('/fonts/pretendard/Pretendard-Thin.woff2') format('woff2');
  font-weight: 100;
}

@font-face {
  font-family: '프리텐다드';
  src: url('/fonts/pretendard/Pretendard-ExtraLight.woff2') format('woff2');
  font-weight: 200;
}

@font-face {
  font-family: '프리텐다드';
  src: url('/fonts/pretendard/Pretendard-Light.woff2') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: '프리텐다드';
  src: url('/fonts/pretendard/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: '프리텐다드';
  src: url('/fonts/pretendard/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: '프리텐다드';
  src: url('/fonts/pretendard/Pretendard-SemiBold.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: '프리텐다드';
  src: url('/fonts/pretendard/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: '프리텐다드';
  src: url('/fonts/pretendard/Pretendard-ExtraBold.woff2') format('woff2');
  font-weight: 800;
}

@font-face {
  font-family: '프리텐다드';
  src: url('/fonts/pretendard/Pretendard-Black.woff2') format('woff2');
  font-weight: 900;
}
@font-face {
  font-family: '에스코어드림';
  src: url('/fonts/scdream/SCDream1.otf') format('opentype');
  font-weight: 100; /* Thin */
}

@font-face {
  font-family: '에스코어드림';
  src: url('/fonts/scdream/SCDream2.otf') format('opentype');
  font-weight: 200; /* Extra Light */
}

@font-face {
  font-family: '에스코어드림';
  src: url('/fonts/scdream/SCDream3.otf') format('opentype');
  font-weight: 300; /* Light */
}

@font-face {
  font-family: '에스코어드림';
  src: url('/fonts/scdream/SCDream4.otf') format('opentype');
  font-weight: 400; /* Regular */
}

@font-face {
  font-family: '에스코어드림';
  src: url('/fonts/scdream/SCDream5.otf') format('opentype');
  font-weight: 500; /* Medium */
}

@font-face {
  font-family: '에스코어드림';
  src: url('/fonts/scdream/SCDream6.otf') format('opentype');
  font-weight: 600; /* Semi Bold */
}

@font-face {
  font-family: '에스코어드림';
  src: url('/fonts/scdream/SCDream7.otf') format('opentype');
  font-weight: 700; /* Bold */
}

@font-face {
  font-family: '에스코어드림';
  src: url('/fonts/scdream/SCDream8.otf') format('opentype');
  font-weight: 800; /* Extra Bold */
}

@font-face {
  font-family: '에스코어드림';
  src: url('/fonts/scdream/SCDream9.otf') format('opentype');
  font-weight: 900; /* Black */
}

@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 100;
  src: url('/fonts/notosans/NotoSansJP-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/notosans/NotoSansJP-ExtraLight.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/notosans/NotoSansJP-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/notosans/NotoSansJP-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/notosans/NotoSansJP-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/notosans/NotoSansJP-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/notosans/NotoSansJP-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/notosans/NotoSansJP-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/notosans/NotoSansJP-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'LINE Seed KR';
  src: url('/fonts/lineseedkr/LINESeedKR-Th.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'LINE Seed KR';
  src: url('/fonts/lineseedkr/LINESeedKR-Rg.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'LINE Seed KR';
  src: url('/fonts/lineseedkr/LINESeedKR-Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
