@tailwind base;
@tailwind components;
@tailwind utilities;

/* 글로벌 CSS 변수 설정 */
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* 유저의 개인설정 다크 모드 지원 */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; /* 흰색 텍스트 */
    --background-start-rgb: 0, 0, 0; /* 검정색 배경 */
    --background-end-rgb: 0, 0, 0; /* 검정색 배경 */
  }
}

/* 기본적인 바디 스타일 설정 */
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* 커스텀 유틸리티 클래스 */
@layer utilities {
  /* .text-balance {
    text-wrap: balance;
  } */
}

@import '../styles/fonts.css';
@import '../styles/editor.css';
